<template>
    <header>
        <h1>The System</h1>
    </header>
</template>

<script>
export default {

}
</script>

<style>
header{
    display: block;
    padding: 16px;
    background-color: var(--dark);
    }
header h1 {
    color:#fff;
    font-size: 28px;
    }

</style>